body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    background-color: #8ac729;
}

.share {
    /*display: flex;
    align-items: center;
    padding: 0.5em 1em;*/
    border: none;
    margin: 0;
    cursor: pointer;
    font-size: 33px;
    color: #fff;
    background-color: #673AB7;
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

.butouver:hover {
    background-color: #5725ad;
    height: 62px;
    width: 62px;
    box-shadow: -1px -1px 6px 5px #5bbe21;
  }

svg {
    width: 24px;
    height: 24px;
}

svg path {
    fill: currentColor;
}

.unsupported {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    font-size: 32px;

    color: #a03bff;
    background-color: #111;
}
